.cmp-skipToContent {
    .skip-to-main-content-link {
        position: absolute;
        left: -9999px;
        z-index: 999;
        font-weight: 700;
        padding: 0.6em 1em 0.7em 0.6em;
        background-color: var(--button-background);
        border-radius: 0 0 10px 10px;
        color: var(--link);

        &:focus {
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
        }
    }
}
