header {
  .TopnavMobile {
    .iah__l2 {
      height: 61px;
      position: relative;
      z-index: 11;
      background-color: var(--top-nav-bg);
      border-bottom: 1px solid var(--link);
      .iah__container {
        width: auto;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        .iah__l2__main-links {
          position: relative;
          .iah__login {
            position: absolute;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 19px;
            margin-right: 19px;
            padding-top: 0;
            font-size: 14px;
            .iah__login-link {
              display: block;
              background: transparent url(../../assets/Login-white.svg)
                no-repeat 13px;
              height: 100%;
              border-radius: 16px;
              color: var(--top-nav-text);
              font-size: 1.4rem;
              text-decoration: none;
              line-height: 30px;
              padding: 0;
              background-repeat: no-repeat;
              padding-top: 31px;
              background-position: center 13px;
              outline: 0;
            }

            &:after {
              content: "";
              width: 2px;
              height: 37px;
              position: absolute;
              background-color: var(--link);
              right: -19px;
              top: 12px;
            }
          }

          .iah__logo {
            background-color: var(--top-nav-bg);
            float: none;
            margin: 0 auto;
            text-align: center;
            height: 60px;
            display: flex;
            .iah__logo-link {
              width: 112px;
              line-height: 22px;
              display: inline-block;
              box-sizing: border-box;
              margin: auto;
              .iah__logo-link img {
                vertical-align: middle;
                width: 100%;
                display: inline-block;
                height: 100%;
              }
            }
          }
          .iah__menu-link {
            position: absolute;
            top: 0;
            padding-top: 14px;
            margin-right: 19px;
            margin-left: 19px;
            right: 0;
            text-decoration: none;
            border: 0;
            background: 0;
            font-family: "RNHouseSansRegular", sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: var(--top-nav-text);
            margin-right: 0;
            font-size: 14px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
