header {
  .TopnavMobile {
    .iah__l2 {
      height: 61px;
      position: relative;
      z-index: 11;
      background-color: var(--top-nav-bg);
      border-bottom: 1px solid var(--link);
      .iah__container {
        width: auto;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        .iah__l2__main-links {
          position: relative;
          .iah__login {
            position: absolute;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 19px;
            margin-right: 19px;
            padding-top: 0;
            font-size: 14px;
            .iah__login-link {
              display: block;
              background: transparent url(../../assets/Login-white.svg)
                no-repeat 13px;
              height: 100%;
              border-radius: 16px;
              color: var(--top-nav-text);
              font-size: 1.4rem;
              text-decoration: none;
              line-height: 30px;
              padding: 0;
              background-repeat: no-repeat;
              padding-top: 31px;
              background-position: center 13px;
              outline: 0;
            }

            &:after {
              content: "";
              width: 2px;
              height: 37px;
              position: absolute;
              background-color: var(--link);
              right: -19px;
              top: 12px;
            }
          }

          .iah__logo {
            background-color: var(--top-nav-bg);
            float: none;
            margin: 0 auto;
            text-align: center;
            height: 60px;
            display: flex;
            .iah__logo-link {
              width: 112px;
              line-height: 22px;
              display: inline-block;
              box-sizing: border-box;
              margin: auto;
              .iah__logo-link img {
                vertical-align: middle;
                width: 100%;
                display: inline-block;
                height: 100%;
              }
            }
          }
          .mobile__hamburger .iah__menu-link {
            position: absolute;
            top: 0;
            padding-top: 7px;
            margin-right: 19px;
            margin-left: 19px;
            right: 0;
            text-decoration: none;
            border: 0;
            background: 0;
            font-size: 16px;
            line-height: 20px;
            color: var(--top-nav-text);
            margin-right: 0;
            font-size: 14px;
            line-height: 30px;
            &:before {
              height: 37px;
              width: 2px;
              position: absolute;
              top: 12px;
              background-color: var(--link);
              content: "";
              right: 58px;
            }
            .icon-menu {
              display: block;
              height: 26px;
            }
          }

          .iah__l1__l2__holder {
            background-color: #5a287d !important;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 9999;
            height: calc(100vh - 75px);
            overflow: scroll;
            overflow-x: hidden;
            display: block;
            .header-top-mobile {
              height: 51px !important;
              width: 100%;
              background-color: #5a287d;
              .brand-logo {
                background-color: #5a287d;
                width: 40%;
                border-right: 1px solid #8b3fb2;
                .mobile_logo {
                  background-color: #5a287d;
                  .mobile-logo-link {
                    display: block;
                    padding-top: 20px;
                    text-align: center;
                    padding-top: 0;
                    img {
                      min-height: 12px;
                      max-height: 40px;
                      width: auto;
                      height: auto;
                      max-width: 112px;
                      display: block;
                    }
                  }
                }
              }
            }
            .menu-open {
              position: absolute;
              top: 0;
              padding-top: 14px;
              margin-right: 19px;
              margin-left: 19px;
              right: 0;
              text-decoration: none;
              border: 0;
              background: 0;
              margin: 21px 21px 0 0;
              padding: 0;
              color: #fff;
              z-index: 999;
              &:before {
                width: 2px;
                height: 0;
                position: absolute;
                top: 12px;
                background-color: #8b3fb2;
                content: "";
                right: 58px;
              }
            }
          }
        }
      }
    }
  }
}
