header {
  .TopnavMobile {
    .iah__l2 {
      height: 61px;
      position: relative;
      z-index: 11;
      background-color: #5a287d;
      border-bottom: 1px solid #5a287d;
      .iah__container {
        width: auto;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        .iah__l2__main-links {
          position: relative;
          .iah__logo {
            background-color: #5a287d;
            float: none;
            margin: 0 auto;
            text-align: center;
            height: 60px;
            display: flex;
            .iah__logo-link {
              width: 112px;
              line-height: 22px;
              display: inline-block;
              box-sizing: border-box;
              margin: auto;
              .iah__logo-link img {
                vertical-align: middle;
                width: 100%;
                display: inline-block;
                height: 100%;
              }
            }
          }
          .iah__menu-link {
            position: absolute;
            top: 0;
            padding-top: 14px;
            margin-right: 19px;
            margin-left: 19px;
            right: 0;
            text-decoration: none;
            border: 0;
            background: 0;
            font-family: "RNHouseSansRegular", sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            margin-right: 0;
            font-size: 14px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
