header {
  .TopnavDesktop {
    font-size: 1.4rem;
    line-height: 30px;
    color: var(--top-nav-text);
    .topnav-D-L1,
    .topnav-D-L2,
    .topnav-D-L3 {
      height: 48px;
      position: relative;
      z-index: 12;
      background-color: var(--top-nav-bg);

      .L1-container,
      .L2-container,
      .L3-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        height: 100%;
        .feather-search {
          position: absolute;
          padding: 0;
          margin: 4px 4px 4px 10px;
        }
        input {
          font-size: 1.5rem;
          line-height: 1.45;
          padding: 5px 5px 5px 46px;
          width: 100%;
          border-radius: 6px;
        }

        .L1-left,
        .L1-right,
        .L2-left,
        .L2-right,
        .L3-left,
        .L3-right {
          height: 100%;
          float: left;
          ul {
            margin: 0;
            list-style-type: none;
            padding-left: 0;
            li {
              display: inline-block;
              text-align: center;
              float: left;
              height: 100%;
              display: flex;
              align-items: center;
              font-weight: normal;
              a {
                letter-spacing: 0;
                text-decoration: none;
                cursor: pointer;
                color: var(--top-nav-text);
                display: inline-block;
                padding: 9px 26px;
                line-height: 30px;
              }
              button:not(.Themeswitcher-container) {
                font-size: 14px;
                min-width: 100px;
                padding: 7px;
              }
            }
          }
        }

        .L1-left,
        .L2-left,
        .L3-left {
          padding-left: 146px;
        }

        .L1-right,
        .L2-right,
        .L3-right {
          float: right;
          position: relative;
          height: 48px;
          display: flex;
        }
      }
      .L1-container ul li.active {
        background-color: var(--base);
        font-size: 1.6rem;
        font-weight: bold;
      }
      .L2-container ul li.active {
        border-bottom: 2px solid var(--link);
        margin-top: -2px;
        font-size: 1.5rem;
        font-weight: bold;
      }
      .L3-container ul li.active {
        border-bottom: 2px solid var(--link);
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
    .topnav-D-L2 {
      background-color: var(--base);
    }
    .topnav-D-L3 {
      position: absolute;
      pointer-events: none;
      top: 48px;
      width: 100%;
      left: 0;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    .topnav-D-L2 li:hover .topnav-D-L3 {
      display: block;
      pointer-events: auto;
      opacity: 1;
    }
  }
  .Overlay {
    display: none;
  }
  &:has(.topnav-D-L2 li:hover) .Overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
    z-index: -10000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
  }
}
