<div style="margin:0 auto; text-align: left">
    <div class="cmp-button-text-variation1">
        <h2 class="cmp-button__text">Primary</h2>
    </div>
    <div class="button btn--primary">
        <button class="cmp-button" type="button">
            <span class="cmp-button__text">B</span>
        </button>
    </div>
    <div class="cmp-button-text-variation2">
        <h2 class="cmp-button__text">Secondary</h2>
    </div>
    <div class="button btn--secondary">
        <button class="cmp-button" type="button">
            <span class="cmp-button__text">Button Label (button)</span>
        </button>
    </div>
    <div class="cmp-button-text-variation3">
        <h2 class="cmp-button__text">Button box</h2>
    </div>
    <div class="button btn--teritory">
        <a class="cmp-button" href="#">
            <span class="cmp-button__text">Button Label (link)</span>
        </a>
    </div>
    <div class="cmp-button-text-variation4">
        <h2 class="cmp-button__text">Button link</h2>
    </div>
    <div class="button btn--fourth">
        <a class="cmp-button" href="#">
            <span class="cmp-button__text">Button Label (link) fourth</span>
        </a>
    </div>
</div>